<h1 class="text-title">Pruebas unitarias CIC</h1>

<div class="formgrid grid justify-content-center">

  <form action="">

    <div class="field col justify-content">
      <label for="nombre">Nombre</label>
      <input type="text" pInputText name="nombre" id="nombre" [(ngModel)]="persona.nombre">
    </div>
  
    <div class="field col">
      <label for="nombre">Apellido</label>
      <input type="text" pInputText name="apellido" id="apellido" [(ngModel)]="persona.apellido">
    </div>
  
    <div class="field col">
      <label for="nombre">Edad</label>
      <input type="number" pInputText name="edad" id="edad" [(ngModel)]="persona.edad">
    </div>
  
    <div class="field col">
      <label for="nombre">Teléfono</label>
      <input type="tel" pInputText name="telefono" id="telefono" [(ngModel)]="persona.telefono">
    </div>
  
    <div class="field col">
      <label for="nombre">Usuario</label>
      <input type="text" pInputText name="usuario" id="usuario" [(ngModel)]="persona.usuario">
    </div>
  
    <div class="field col">
      <label for="nombre">Contraseña</label>
      <input type="password" pInputText name="contraseña" id="contraseña" [(ngModel)]="persona.contrasena">
    </div>

  </form>

</div>

<p-button (onClick)="onShowMessage()">Confirmar</p-button>

@if (showMessage) {
  <div>Usuario registrado con éxito</div>
}








